.container {
  width: 100%;
  padding-top: 200px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
  border-bottom: solid white 1px;
  h2 {
    font-size: 2rem;
  }
  div {
    width: 50%;
    p:first-of-type {
      margin-bottom: 40px;
    }
  }
}

.skills {

}