.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  // background: rgba(20, 20, 30, 0.5);
  // color: white;
  background: rgba(255, 255, 255, 0.1);
  color: black;
}

.content {
  width: 100%;
  // font-size: 1rem;
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
  }
}

.mail {
  width: 12px;
  margin-right: 20px;
}