@use './variables' as variables;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: variables.$colorSelection;
  color: #fff;
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 10px; /* Adjust width of the scrollbar */
  height: 10px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent !important; /* Ensure the track is transparent */
  display: none; /* Hide the track */
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: white; /* Color of the scroll thumb */
  border-radius: 0; /* Makes it square */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: variables.$colorPrimary;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  letter-spacing: -0.05em;
  font-size: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.line-parent {
  overflow: hidden;
}