.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    z-index: 10;
    img {
      width: 28px;
    }
    ul {
      * {
        font-size: 1rem;
        transition: opacity 0.3s ease-in-out;
        &:first-of-type {
          margin-right: 20px;
        }
        &:hover {
          opacity: 0.75;
        }
      }
    }
}