.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy {
  p {
    margin-bottom: 20px;
    max-width: 650px;
    font-size: 1.25rem;
    &:last-of-type {
      margin-bottom: 100px;
    }
  }
}