@use './variables' as variables;

.projects {
  padding-bottom: 100px;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
  &:last-of-type {
   margin-bottom: 0; 
  }
  h3 {
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.hero {
  cursor: pointer;
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 120%;
    transition: scale 0.3s ease-in-out;
  }
  &:hover {
    img {
      scale: 1.1 !important;
    }
  } 
  margin-bottom: 40px;
}

.links {
  display: flex;
  button {
    margin-right: 20px;
  }
  * {
    cursor: pointer;
  }
}

.github {
  transition: filter 0.3s ease-in-out;
  &:hover {
    filter: brightness(0.8)
  }
}

@media(max-width: variables.$mediaPhone) {
  .hero {
    height: 200px;
  }
}