$colorPrimary: white;
$colorSecondary: rgba(35, 35, 35, 0.8);
// $colorSelection: #47f1a8;
$colorBg: #01050c;
$colorSelection: rgb(37, 124, 255);
$borderRadiusLarge: 80px;
$mediaDesktopSmall: 1600px;
$mediaTablet: 1200px;
$mediaPhone: 800px;